In [5]:
from sqlalchemy import create_engine
import pandas as pd
import psycopg2 as pg

In [6]:
username = input("Please enter the username: ")
password = input("Please enter the password: ")
db_name = input("Please enter the Database name: ")

Please enter the username: postgres
Please enter the password: Priya1008
Please enter the Database name: EmployeeSQL_db

In [7]:
db_string = f'postgresql://{username}:{password}@localhost:5432/{db_name}'
engine = create_engine(db_string)
connection = engine.connect()

In [12]:
employee_df = pd.read_sql_query('select * from employees',con=connection)
salary_df = pd.read_sql_query('select * from salaries',con=connection)

In [13]:
salary_df.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228